body {
    position: relative;
    background-image:url(../imagesFinal/debut.gif);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    
}
.fenetreDialogue{
    background-image: url(../imagesFinal/dialogues.png);
    color: rgb(255, 255, 255);
    font-size: 40px;
    width: 500px;
    height: 400px;
    font-family: 'Scada', sans-serif;
}
