body {
    position: relative;
    background-image:url(../imagesFinal/intro.gif);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    
}

#dialogue{
    background-image: url(../imagesFinal/dialogues.png);
    color: brown;
    font-size: 40px;
    width: 500px;
    height: 400px;
    font-family: 'Scada', sans-serif;
}

.gameOver {
    position: relative;
    background-image:url(../imagesFinal/gameOver.gif);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    
}

#lettre{
    background-image: url(../imagesFinal/lettre.png);
    color: brown;
    font-size: 40px;
    width: 950px;
    height: 470px;
    font-family: 'Scada', sans-serif;
}
