body {
    position: relative;
    background-image:url(../imagesFinal/chateau2.gif);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    

}

#dialogueCombat{
    background-image: url(../imagesFinal/dialogues.png);
    color: rgb(255, 255, 255);
    font-size: 40px;
    width: 500px;
    height: 400px;
    font-family: 'Scada', sans-serif;
}

header p{
    font-size: 40px;
}



#hero {
    
    position: relative;
    animation-name: example;
    animation-duration: 2s  ;
    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
  }
  @keyframes example {
    0%   {  top:0px;}
    25%  {  top:20px;}
    50%  {  top:0px;}
    75%  {  top:20px;}
    100% {  top:0px;}
  }


#garde {

    position: relative;
    animation-name: garde;
    animation-duration: 2s  ;
    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
  }
  @keyframes garde {
    0%   {  top:0px;}
    25%  {  top:-20px;}
    50%  {  top:0px;}
    75%  {  top:-20px;}
    100% {  top:0px;}
  }

  *{
    box-sizing: border-box;
}





p{
    width: 70%;
    font-size: 30px;
    display: block;
    text-align: center;
    color : white;
}

.char{
    font-size: 40px;
    height: 40px;
    animation: an 1s ease-out 1 both;
    display: inline-block;
}

@keyframes an{
    from{
        opacity: 0;
        transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
    }
    to{
        opacity: 1;
        transform: perspective(500px) translate3d(0, 0, 0);
    }
}
.mylink{
position: absolute;
z-index: 150;
bottom: 0;
right: 0;
width: 100%;
text-align: right;
padding: .6rem;
}

.mylink a{
font-family: Calibri;
color: #fff;
border-bottom: 1px solid #fff;
opacity: .5;
transition: opacity .3s;
text-decoration: none
}
.mylink a:hover{
opacity: 1
}
