.mainMenu {
    background-image: url(../imagesFinal/selectionDesPersonnages.png);
    
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    height: 100vh;
    
    

}

.bouton{
    width : 50%;
    margin-left:auto;
    margin-right:auto;
    margin-top : 20%;
    border : 2px solid red;
    text-align:center;
}
#le_bouton {
    visibility : hidden;
}
p{

    color: red;
}